@tailwind base;
@tailwind components;
@tailwind utilities;

.prose p {
  margin-top: 0;
  margin-bottom: 0;
}

.preview-container h1,
.preview-container h2,
.preview-container h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.ProseMirror:focus {
  outline: none;
  border: none;
}

.ProseMirror p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.Toastify__progress-bar--success {
  background: rgb(117, 3, 183);
}

.preview-container ol li::marker,
.ProseMirror li::marker {
  color: white;
}

#nprogress .bar {
  background: rgb(117, 3, 183) !important; /* Màu xanh lá */
  height: 4px !important;
}
